<div class="inner-content">
  <h1 class="title">
    <span class="sub">{{ title$ | async }}</span>Jóga Píšť
  </h1>
  <router-outlet></router-outlet>
</div>
<button *ngIf="$loggedIn | async; else loggedOut" (click)="onLogout()" class="logout" nz-button nzType="text" nzShape="circle">
  <span nz-icon nzType="unlock"></span>
</button>
<ng-template #loggedOut>
  <button (click)="onLogin()" class="login" nz-button nzType="text" nzShape="circle">
    <span nz-icon nzType="lock"></span>
  </button>
</ng-template>