nz-layout {
  min-height: 100vh;
}

nz-header {
  height: auto;
  position: fixed;
  width: 100%;
  background-color: #fff;
}

.logo {
  color: #D1E751;
  text-align: center;
  font-size: 1.7em;
  line-height: 64px;
  margin-right: 2em;
  .sub {
    display: block;
    margin-left: .4em;
    font-size: .8em;
    line-height: 30px;
    color: #ccc;
  }
}

[nz-menu] {
  text-align: center;
}

nz-content {
  padding: 0 50px;
}

nz-footer {
  text-align: center;
  font-size: .8em;
  color: #aaa;
  line-height: 32px;
  a {
    color: #aaa;
  }
  .login, .logout {
    font-size: 1em;
    color: #aaa;
    cursor: pointer;
    float: right;
  }
  .logout {
    color: #f00;
  }
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}